*{
    margin: 0;
    padding: 0;
}

body{
    color: rgb(0, 0, 0);
    
}


/*        nav bar      */


header{
   height: 12vh;
   width: 100%;
   
    
}

.logo{
     height: 13vh;
     width: 7vw;
     position: relative;
     left: 2vw;

     animation: rotate 5s linear  infinite ;
}
@keyframes rotate {
    0%{
        transform: rotateY(0deg);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.first{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    height: 12vh;
    width: 60vw;
    position: relative;
    left: 22vw;
    bottom: 8vh;
    list-style: none;
}


.one{
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 18px;
   font-family: Arial, Helvetica, sans-serif;
}
.one:hover{
   
    border-bottom: 4px solid green;
}

.register{
    height: 4vh;
    width: 12vw;
    background-color: green;
    border: green;
    position: relative;
    left: 18vw;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 20px;
    
    color: white;
    font-size: 18px;
}
.register:hover{
    border-bottom: 4px solid rgb(0, 0, 0);
}




/*--------------HOME-------------*/



.whatsapp{
    position: fixed;
    top: 88vh;
    left: 3%;
    height: 6.4vh;
    width: 3.4vw;
}
#bis{
    height: 11vh;
    width: 98vw;
    
}



.bismillah{
  position: absolute;
  
 
  
  animation: move 15s linear  infinite forwards;
}
@keyframes move {
    0%{
    right: 0vw;
    }
    100%{
        right: 100vw;
    }
}

#home{
    height: calc(100vh-23vh);
    width: 100%;
}
.img .quran{
    
     height: 78vh;
     width: 100%;
}







/*--------------COURSES------------*/
#courses{
    height: 110vh;
    width: 70vw;
    position: relative;
    left: 15vw;
    top: 15vh;
}


h1{
    justify-content: center;
    text-align: center;
    background-color: green;
    font-size: 50px;
}
.course{
    list-style: none;
}
.lost{
    
    text-align: center;
    justify-content: center;
    height: 200px;
}
.course, .education{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
    height: 100px;
    
}
.list{
    font-size: large;
}
/*
.list{
    position: relative;
    
    top: 3vh;
    font-size: larger;
    text-align: center;
}
*/

.female{
    align-items: center;
    justify-content: center;
    display: flex;
}







/*--------------admissions--------*/
#admission{
    height: 70vh;
    width: 70vw;
    position: relative;
    left: 15vw;
    top: 15vh;
    
}
.ad{
    
}
.q{
    
    width: 70vw;
}
p{
    text-align: center;
    
    font-size: larger;
}


/*         Teacchers        */



#teachers{
    position: relative;
    left: 15vw;
    top: 15vh;
    height: 40vh;
    width: 70vw;
    
}





/*        contact us      */

#about{
    height: 30vh;
    width: 100%;
    background-color: rgb(37, 36, 36);
    
    
    
    color: white;
    
}
.final{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact{
   
    font-size: x-large;
  
}
.icon{
    margin: 7px;
    letter-spacing: 10px;
}
.icon a{
    text-decoration: none;
    align-items: flex-start;
    font-size: x-large;
    

}
.fa{
    color: aliceblue;
    font-size: x-large;
}
.about{
   
    
    font-size: x-large;

}


span{
    position: relative;
    top: 10vh;
    left: 45vw;
    
}




















@media (max-width: 600px) {
    .one{
        display: none;
    }

.logo{
    width: 25vw;
}
.register{
    width: 50vw;
    font-size: medium;
}
.img .quran{
    
    height: auto;

    position: relative;
    bottom: 5vh;
}
.whatsapp{
    
    display: none;


}
.bismillah{
    height: 6vh;
   

}
#courses{
    height: 85vh;
    width: 100vw;
   
   position: absolute;
   left: 0px;
   top: 380px;
}
.course, .education{
    list-style: none;
    display: block;
    position: relative;
   top: 2vh;
    height: 100px;
}


.fm{
    height: 40vh;
    width: 70vw;
    position: relative;
    left: .1vh;
    
}


#admission{
    height: 60vh;
    width: 100vw;
    
    position: relative;
    top: 730px;
    left: 0px;

}

#teachers{
   
    position: relative;
    top: 740px;
    left: 0px;
    height: 30vh;
    width: 100vw;
}
.q{
    width: 100vw;
}
.ustani{

}


#about{
    height: 30vh;
    width: 100%;
    background-color: rgb(37, 36, 36);
    
    position: relative;
    top: 720px;
    left: 0px;
    color: white;
    justify-content: space-evenly;
    
}
.contact{
    font-size: larger;
    position: relative;
    top: 0vh;
}
address{
    font-size: medium;
}

h3{
    font-size: larger;
}
h1{
    font-size: 25px;
}
span{
    position: relative;
    top: 18vh;
    left: 34vw;
}





p{
    text-align: left;
}









}





































